.container-ovalo {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    margin: 1rem auto;
    scrollbar-width: none;
    /* Oculta la barra de desplazamiento de manera general (excepto en navegadores basados en WebKit) */
    -ms-overflow-style: none;
    /* Para navegadores basados en WebKit */
    &::-webkit-scrollbar {
        display: none;
        /* Oculta la barra de desplazamiento en navegadores WebKit */
    }

    .ovalo {
        background-color: none;
        border: 1px solid $verde;
        height: 5rem;
        width: 4rem;
        border-radius: 4rem;
        margin: auto 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: map-get($sombra, normal);

        img {
            width: 3rem;
        }
    }
}